# Environment Files
*.ini
!\.*ini

# Application generated data


# Testing Files
.pytest_cache
.coverage
htmlcov/
reports/*

# VS Code Files
.vscode
*.code-workspace
settings.json

# Python Files
__pycache__
