# Environment Files
*.ini
!\.*ini

# Application generated data
/extracted_data
abc_dbl_extraction_logs.json

# Testing Files
.pytest_cache
.coverage
htmlcov/
reports/*

# VS Code Files
*.code-workspace
settings.json

# Python Files
__pycache__
